:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

.input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  border-radius: 32px;
  padding: 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;
}

.form {
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 8px;
  gap: 16px;
}

.button {
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #535bf2;
}

.button:active {
  background-color: #4144c1;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.5);
}
